#view1
{
	position: absolute;
	top: 10px;
	bottom: 30%;
	left: 10px;
	right: 60%;
	padding: 10px 10px 10px 10px;
	border: 1px solid black;
}
#view2
{
	position: absolute;
	top: 10px;
	bottom: 30%;
	left: 40%;
	right: 10px;
	padding: 10px 10px 10px 10px;
	border: 1px solid black;
}
#view3
{
	position: absolute;
	top: 70%;
	bottom: 10px;
	left: 10px;
	right: 10px;
	padding: 10px 10px 10px 10px;
	border: 1px solid black;
}
#view1-svg
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
#view2-svg
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
#view3-svg
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}